
@mixin gridcoluns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@mixin flexcenter {
    display: flex;
    align-items:center;
    justify-content:center;  
}
@mixin widthheight {
    height: 100%;
    height: 100vh;  
}

$colorgeral: linear-gradient(#121212, #212b46);
$colorhtml : rgb(254, 43, 43);
$colorcss:rgb(0, 0, 255);
$colorscript :rgb(229, 229, 10);




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
header{
     background: $colorgeral;
    
    }
   .menu{
    @include flexcenter();
    height: 60px;
    width: 100%;
    position: fixed;
   
   
    

    ul{
        display: flex;
        align-items: center;
        justify-content: right;
        width: 90%;
        position: fixed;
        height: 60px;
        
       

       
        a{
            float: right;
            cursor: pointer;
            list-style-type: none;
            margin-left: 10%;
            font-size: 20px;
            color: #fff;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: none;
            &:hover{
                background-color:#212b46;
                border-radius: 10px;
                padding: 5px;
            }
            @media(max-width:474px){font-size: 13px;};
           
        }
    }
   } 



.mainGrup{
    @include widthheight();
}
.conteiner{
    width: 100%;
    height: 100vh;
    @include flexcenter();
    flex-direction: column;
    background: $colorgeral;

}
.title{
    font-size: 65px;
    @media(max-width:500px){font-size: 35px;}
    color: #fff;
    text-align: center;
    transform: rotateX('90deg');
    transform: rotateX('0deg');
    filter: drop-shadow(2px 2px 50px #fff);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: fixed;

}
.editores{
    @include flexcenter();
    width: 300px;
    margin-top: 30px;

    .html{     
        background: $colorhtml;
        width: 35px;
        @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
        animation: fll 3s ;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        font-family: Georgia, 'Times New Roman', Times, serif;  
        @keyframes fll{from{transform:translate(-30px) ;}to{ transform: translate(35px); }}
       
        }


    .css{
        background: $colorcss;
        width: 35px;
        @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
       animation: fly 3s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       font-family: Georgia, 'Times New Roman', Times, serif;
       @keyframes fly{from{transform:translate(30px) ;}to{ transform: translate(-40px); }}
    }


    .javascript{
        background-color: rgb(229, 229, 10);
        width: 35px;
       @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

}

button{
    
    margin-top: 50px;
    background-color: transparent;
    border: 0;



.fa-arrow-right{
    font-size: 50px;
    color: rgb(194, 194, 183);
    &:hover{
        transform: scale(1.5) ;
        transition: 2s;
        cursor: pointer;
    }

    
}

}



