@mixin flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;  
}
@mixin widthheight {
    width: 100%;
    height: 100vh;  
}
@mixin bacgroud {
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

$colorgeral: linear-gradient(#121212, #212b46);
$colorhtml : rgb(254, 43, 43);
$colorcss:rgb(0, 0, 255);
$colorscript :rgb(229, 229, 10);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  .menu{
   @include flexcenter();
   height: 60px;
   width: 100%;
   position: fixed;
   z-index: 1;
   background:$colorgeral;
   
   
  
  
   

   ul{
       display: flex;
       align-items: center;
       justify-content: right;
       width: 90%;
       position: fixed;
       height: 60px;
       z-index: 1;
       overflow: hidden;
       .fa-square-arrow-left{
        width: 100px;
        background-color: #fff;
       
      }
       
       
      

      
       a{
           float: right;
           cursor: pointer;
           list-style-type: none;
           margin-left: 10%;
           font-size: 20px;
           color: #fff;
           z-index: 1;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           text-decoration: none;
           &:hover{
               background-color:#212b46;
               border-radius: 10px;
               padding: 5px;
           }
           @media(max-width:474px){font-size: 13px;};
          
       }
   }
  } 
  body{
    width: 100%;
    height: 100%;
    
  }
    .yan{
    width: 100%;
    height: 100%;
    background:$colorgeral ;
   

    .geral{
        width: 100%;
        height: 100%;
        display: block;
        

       .cabecalho{
        width: 100%;
        height: 400px;
        @include flexcenter();
         
        .intro{
            margin-top: 10px;

            .h31{
                font-size: 30px;
                color: beige;
                padding: 10px;
               
            }
            .paragrafo{
                font-family: sans-serif;
                color: beige;
                letter-spacing: 1px;
                margin-top: 40px;
                padding: 10px;
               
            }
        }
       } 
       .meio{
        width: 100%;
        height: 100%;
        

        .para{
            width: 100%;
            height: 50px;
            font-size: 20px;
            font-family: sans-serif;
            letter-spacing: 1px;
            color: #fff;
            
            p{
                font-size: 20px;
                font-family: sans-serif;
                letter-spacing: 1px;
                padding: 5px;
                @media(max-width:500px){font-size: 15px;}
            }
        }
        .imagens{
           width: 100%;
           display: flex;
           justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
        
           .max{
            width: 300px;
            height: 450px;
            
            p{
                font-size:20px ;
                @include flexcenter();
                position: relative;
                bottom: 70px;
                font-family: 'Black Ops One', cursive;
                color: beige;
                
            }

           }

           .div-img{
            border: 1px solid black;
            width: 300px;
            height: 300px;
            margin-bottom: 100px;
            &#img1{
                background-image:url("tolahome.jpeg");
                @include bacgroud();
            }
            &#img2{
                background-image: url("sobremin.jpeg");
                @include bacgroud();
            }
            &#img3{
                background-image: url("teladesafios.jpeg");
                @include bacgroud();
            }
            &#img4{
                background-image: url("telahabi.jpeg");
                @include bacgroud();
            }
            p{
                color: #fff;
                display: block;
                height: 200px;
            }

           }
        }
        
      }


    }
  }

  .conteiner{
    width: 100%;
    height: 80vh;
    flex-direction: column;
    @include flexcenter();
    padding-top: 60px;
    
  
   

}
.title{
    font-size: 65px;
    @media(max-width:500px){font-size: 35px;}
    color: #fff;
    text-align: center;
    filter: drop-shadow(2px 2px 50px #fff);
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
   


}
.editores{
    @include flexcenter();
    width: 300px;
    margin-top: 30px;
    position: relative;

    .html{     
        background: $colorhtml;
        width: 35px;
        @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
        animation: fll 3s ;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        font-family: Georgia, 'Times New Roman', Times, serif;  
        @keyframes fll{from{transform:translate(-30px) ;}to{ transform: translate(35px); }}
       
        }


    .css{
        background: $colorcss;
        width: 35px;
        @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
       animation: fly 3s;
       animation-iteration-count: infinite;
       animation-direction: alternate;
       font-family: Georgia, 'Times New Roman', Times, serif;
       @keyframes fly{from{transform:translate(30px) ;}to{ transform: translate(-40px); }}
    }


    .javascript{
        background-color: rgb(229, 229, 10);
        width: 35px;
       @include flexcenter();
        border-radius: 100%;
        height: 35px;
        border: 2px solid beige;
        color: #ffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

}

button{
    
    margin-top: 50px;
    background-color: transparent;
    border: 0;



.fa-arrow-right{
    font-size: 50px;
    color: rgb(194, 194, 183);
    &:hover{
        transform: scale(1.5) ;
        transition: 2s;
        cursor: pointer;
    }

    
}

}





